html {
  /* Primary */

  --LimeGreen: hsl(163, 72%, 41%);
  --BrightRed: hsl(356, 69%, 56%);

  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
  --YouTube: hsl(348, 97%, 39%);

  /* Dark Theme */

  --Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
  --Toggle: rgb(194, 194, 194);
  /* Dark Theme */

  --BG: hsl(230, 17%, 14%);
  --BG-Pattern: hsl(232, 19%, 15%);
  --Card-BG: hsl(228, 28%, 20%);
  --Text: hsl(228, 34%, 66%);
  --Head-Text: hsl(0, 0%, 100%);
  --hover: hsl(229, 28%, 26%);

  font-family: "Inter", sans-serif;
}

html[data-theme="light"] {
  --BG: hsl(0, 0%, 100%); /* BG */
  --BG-Pattern: hsl(225, 100%, 98%); /* Top BG Pattern */
  --Card-BG: hsl(227, 47%, 96%); /* Card BG */
  --Text: hsl(228, 12%, 44%); /* Text */
  --Head-Text: hsl(230, 17%, 14%); /* Text */
  --hover: hsl(225, 12%, 87%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  // min-height: 100vh;

  background-color: var(--BG);
  font-family: "Inter", sans-serif;
  transition: all 0.8s;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    border-radius: 0 0 25px 25px;
    background-color: var(--BG-Pattern);
    transition: all 0.8s;
  }
}

.content-wrapper {
  position: relative;
  z-index: 1;
  max-width: 1250px;
  margin: 0 auto;
}

.container {
  margin: 10px 30px 0 30px;

  header {
    h2 {
      font-weight: 700;
      color: var(--Head-Text);
      font-size: 1.6rem;
    }

    p {
      margin-top: 3px;
      color: var(--Text);
      font-weight: 700;
      font-size: 0.875rem;
    }

    /**************** Toggle Button *****************/
    .toggle {
      border-top: solid 1px gray;
      margin-top: 20px;
      padding: 15px 0 0 0;
      display: flex;
      justify-content: space-between;

      input[type="checkbox"] {
        height: 0;
        width: 0;
        visibility: hidden;
      }

      label {
        cursor: pointer;
        text-indent: -9999px;
        width: 50px;
        height: 25px;
        background-image: linear-gradient(
          to left,
          hsl(210, 78%, 56%),
          hsl(146, 68%, 55%)
        );
        display: block;
        border-radius: 100px;
        position: relative;
      }

      label:after {
        content: "";
        position: absolute;
        top: 1.5px;
        left: 3px;
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
      }

      input:checked + label {
        background: var(--Toggle);
      }

      input:checked + label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
      }

      label:active:after {
        width: 40px;
      }
    }
    /**************** Toggle Button *****************/
  }

  .social-follow {
    margin-top: 40px;

    .card-facebook,
    .card-twitter,
    .card-instagram,
    .card-youtube {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      background-color: var(--Card-BG);
      height: 220px;
      margin-bottom: 30px;

      &:hover {
        background: var(--hover);
      }

      .social-img {
        width: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .username {
          font-size: 15px;
          color: var(--Text);
          font-weight: 700;
        }
      }

      .num-title {
        color: var(--Head-Text);
        font-size: 50px;
        font-weight: 700;
        margin-top: 20px;
      }

      .followers {
        text-transform: uppercase;
        letter-spacing: 4px;
        color: var(--Text);
        font-weight: 400;
        font-size: 13px;
      }

      .stats {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 30px;

        p {
          font-size: 13px;
          font-weight: 700;
        }
      }
    }

    .card-facebook {
      border-top: solid 4px var(--Facebook);

      .stats {
        width: 70px;
      }

      .stats p {
        color: var(--LimeGreen);
      }
    }

    .card-twitter {
      border-top: solid 4px var(--Twitter);

      .stats {
        width: 71px;
      }

      .stats p {
        color: var(--LimeGreen);
      }
    }

    .card-instagram {
      border-radius: 5px;
      border-top: 4px solid red;
      border-image: linear-gradient(
          to right,
          rgb(243, 173, 42),
          rgb(223, 67, 223)
        )
        1 stretch;

      .social-img {
        width: 130px;
      }

      .stats {
        width: 87px;
      }

      .stats p {
        color: var(--LimeGreen);
      }
    }

    .card-youtube {
      border-top: solid 4px var(--YouTube);

      .stats {
        width: 78px;
      }

      .stats p {
        color: var(--BrightRed);
      }
    }
  }

  .overview-title {
    color: var(--Text);
    font-size: 25px;
    margin: 50px 0 30px 0;
  }

  /* OVERVIEW */
  .overview {
    .overview-card {
      margin-top: 30px;
      background-color: var(--Card-BG);
      border-radius: 5px;
      display: grid;
      grid-template-columns: repeat(2, max-content);
      grid-template-rows: repeat(2, min-content);
      justify-content: space-between;
      grid-row-gap: 2.25rem;
      padding: 2.25rem 2.25rem 2.25rem 2.25rem;

      .overview-card-title {
        font-weight: 700;
        color: var(--Text);
      }
      .overview-card-icon {
        justify-self: end;
      }
      .overview-card-number {
        font-size: 2rem;
        font-weight: 700;
        color: var(--Head-Text);
      }
      .overview-card-percentage {
        justify-self: start;
        font-weight: 700;
        font-size: 0.813rem;
        margin-top: 16px;

        &--positive {
          color: var(--LimeGreen);

          &::before {
            position: relative;
            content: url(/images/icon-up.svg);
            top: -2px;
            left: -4px;
          }
        }
        &--negative {
          color: var(--BrightRed);

          &::before {
            position: relative;
            content: url(/images/icon-down.svg);
            top: -2px;
            left: -4px;
          }
        }
      }
      &:hover {
        background: var(--hover);
      }
    }
  }
}

@media (min-width: 560px) {
  .container {
    .overview {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 30px;
      .overview-card {
        margin-top: 0;
      }
    }
  }
}

@media (min-width: 690px) {
  .container {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .toggle {
        border-top: none;
        width: 140px;
      }
    }
    .social-follow {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 30px;
    }
  }
}

@media (min-width: 836px) {
  .container {
    .overview {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }
}

@media (min-width: 1121px) {
  .container {
    .social-follow {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }
    .overview {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }
}
